<!DOCTYPE html>
<html>
{%extends "index.html"%}

{%block content%}
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="bootstrap.min.css">



</head>

<body>

    <header>    
        <div class="jumbotron jumbotron-fluid">
            <div class="container  text-center">
                <h1>About us </h1>
            </div>
        </div>
    </header>


    <section>
     <!--grid system-->
            <div class="row mb-5">
                <div class="col-lg-6 col-md-6 col-12">
                    <img src="../static/images/home2.jpg" class="img-fluid">
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                    <h1>History</h1>
                    <hr>
                    <p class="pt-4">
                        At TimeTraveller.com, we believe every journey should feel like a step into another world — or another time.
                        We’re a travel agency with a twist, curating unforgettable experiences that transport you through the rich 
                        tapestry of history, culture, and adventure. Whether you dream of wandering ancient cities, exploring timeless
                        landscapes, or reliving iconic moments across the globe, our expertly crafted itineraries let you travel not 
                        just to places, but through eras. With seamless planning, handpicked destinations, and a passion for storytelling,
                        we turn every trip into a timeless memory.Your next great journey isn’t just a destination — it’s a story waiting to be lived.
                    </p>
                    <a href="https://en.wikipedia.org/wiki/Booking.com" class="btn bg-primary text-white">know more</a>
                </div>
            </div>


      
    </section>

</body>

</html>
{%endblock%} 